/build-logic/build/tmp/generatePrecompiledScriptPluginAccessors/accessors4986784603217245571/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build-logic/build/tmp/generatePrecompiledScriptPluginAccessors/accessors4986784603217245571/.gradle/buildOutputCleanup/cache.properties
/build-logic/build/tmp/generatePrecompiledScriptPluginAccessors/accessors4986784603217245571/.gradle/8.8/checksums/checksums.lock
/build-logic/build/tmp/generatePrecompiledScriptPluginAccessors/accessors4986784603217245571/.gradle/file-system.probe
/build-logic/build/tmp/generatePrecompiledScriptPluginAccessors/accessors4986784603217245571/.gradle/8.8/fileHashes/fileHashes.lock
/build-logic/build/tmp/generatePrecompiledScriptPluginAccessors/accessors4986784603217245571/.gradle/8.8/dependencies-accessors/gc.properties
/build-logic/build/tmp/generatePrecompiledScriptPluginAccessors/accessors4986784603217245571/.gradle/8.8/gc.properties
/build-logic/build/tmp/generatePrecompiledScriptPluginAccessors/accessors4986784603217245571/.gradle/vcs-1/gc.properties
/.idea/shelf/don_change/build-history.bin
/.idea/shelf/don_change/build-logic.jar
/.idea/shelf/don_change/buildOutputCleanup.lock
/.idea/shelf/don_change/buildOutputCleanup1.lock
/.idea/shelf/don_change/Camera.class
/.idea/shelf/don_change/checksums.lock
/.idea/shelf/don_change/checksums1.lock
/.idea/shelf/don_change/Constants.class
/.idea/shelf/don_change/CoralRotation.class
/.idea/shelf/don_change.xml
/.idea/shelf/don_change/DriveLooped.class
/.idea/shelf/don_change/DriveLooped.class.uniqueId0
/.idea/shelf/don_change/executionHistory.bin
/.idea/shelf/don_change/executionHistory.lock
/.idea/shelf/don_change/executionHistory1.bin
/.idea/shelf/don_change/executionHistory1.lock
/.idea/shelf/don_change/file-system.probe
/.idea/shelf/don_change/file-system1.probe
/.idea/shelf/don_change/fileHashes.bin
/.idea/shelf/don_change/fileHashes.lock
/.idea/shelf/don_change/fileHashes1.bin
/.idea/shelf/don_change/fileHashes1.lock
/.idea/shelf/don_change/fileHashes2.bin
/.idea/shelf/don_change/framework.jar
/.idea/shelf/don_change/IntakeCoral.class
/.idea/shelf/don_change/last-build.bin
/.idea/shelf/don_change/md5-checksums.bin
/.idea/shelf/don_change/outputFiles.bin
/.idea/shelf/don_change/outputFiles1.bin
/.idea/shelf/don_change/previous-compilation-data.bin
/.idea/shelf/don_change/previous-compilation-data1.bin
/.idea/shelf/don_change/resourceHashesCache.bin
/.idea/shelf/don_change/Robot.class.uniqueId1
/.idea/shelf/don_change/robot.jar
/.idea/shelf/don_change/SetCoralRotationManualAndReset.class
/.idea/shelf/don_change/sha1-checksums.bin
/.idea/shelf/don_change/shelved.patch
/.idea/shelf/don_change/source-to-output.tab
/.idea/shelf/don_change/source-to-output.tab.keystream
/.idea/shelf/don_change/source-to-output.tab.values.at
/.idea/shelf/don_change/source-to-output.tab_i
